body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0 ;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

a,
a:visited  {
  color: #000;
}
a:hover{
  color: #3CAFA3;
}
a.active {
  color: #3CAFA3;
  font-weight: 500;
}


/* OVERRIDES */
.container {
  max-width: none;
  padding: 0;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%;
  }
}

/* HELPERS */
.hidden-mobile {
  display: none;
}
.hidden-desktop {
  display: block;
}
@media (min-width: 550px) {
  .hidden-desktop {
    display: none;
  }
  .hidden-mobile {
    display: block;
  }
}








.column, .columns {
  padding: 20px;
}



/* SIDERBAR NAV */
.header{
  background-color: #F8F9FA;
}
  .columns .sidebar {
    padding: 20px;
    margin: -20px;
    position: relative;
    background-color: #F8F9FA;
  }
  @media (min-width: 550px) { /*Skeletons default grid-activation width*/
    .columns .sidebar{
      height: 100%;
      position: fixed;
      margin-left: -20px;
    }
  }

    .logo {
      font-family: 'Gilda Display', serif;
      font-size: 32px;
      margin-bottom: 24px;
    }
      .logo a {
        text-decoration: none;
      }
      .logo a:hover {
        color: #000;
      }
    @media (min-width: 550px) {
      .logo {
        margin-bottom: 40px;
      }
    }

    .nav {
      font-family: 'Montserrat', sans-serif;
    }
      .nav ul {
        margin: 0;
        padding: 0;
      }
        .nav ul li {
          list-style: none;
          margin-bottom: 24px;
        }
          .nav ul li a {
            text-decoration: none;
            font-size: 18px;
            display: block;
          }
    .links {
      position: relative;
      bottom: inherit;
      font-size: 12px;
      line-height: 20px;
    }
      .links a {
        /*text-decoration: none;*/
      }
      .links ul {
        margin: 0;
        padding: 0;
      }
        .links ul li {
          list-style: none;
          display: inline-block;
        }


.mad-lib {
  padding: 48px 0;
  border-bottom: 1px solid #E1E7EC;
}
.mad-lib:last-child {
  border-bottom: none;
}
  .mad-lib-title {
    font-size: 24px;
    font-weight: 500;
  }
  .mad-lib-formula {
    line-height: 52px;
    font-size: 20px;
  }
    .highlight {
      background-color: rgba(243, 243, 21, .75);
      -ms-transform: rotate(-3deg); /* IE 9 */
      -webkit-transform: rotate(-3deg); /* Safari */
      transform: rotate(-3deg);
      position: relative;
      display: inline-block;
      height: 25px;
    }
      .under {
        line-height: 15px;
        border-top: 1px solid black;
        display: inline-block;
        font-size: 12px;
        top: 12px;
        position: relative;
        padding: 2px 10px;
        margin: 10px;
        font-style: italic;
        letter-spacing: 1px;
        -ms-transform: rotate(3deg); /* IE 9 */
        -webkit-transform: rotate(3deg); /* Safari */
        transform: rotate(3deg);
      }
  .mad-lib-example {
    font-style: italic;
    line-height: 32px
  }
    .example-title {
      font-weight: bold;
      font-style: normal;
      display: block;
      margin-bottom: 8px;
    }
    .mad-lib-example .highlight {
      border-bottom: 1px solid black;
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Safari */
      transform: rotate(0deg);
      padding: 0 5px;
    }


  .mad-lib-description {
    line-height: 24px;
  }

    .description-title {
      font-weight: bold;
      display: block;
      margin-bottom: 8px;
    }

  .mad-lib-resources {

  }
    .mad-lib-resources ul {
      margin-bottom: 0;
    }
    .resource-title {
      font-weight: bold;
      margin-bottom: 8px;
    }


.back-to-top {
  height: 50px;
  width: 50px;
  position: fixed;
  background-color: rgba(51, 51, 51, .25);
  border-radius: 4px;
  bottom: 20px;
  right: 20px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}





@media (min-width: 550px) {
  .links {
    position: fixed;
    bottom: 5%;
  }
  .back-to-top {
    display: none;
  }
}



.about-title {
  font-size: 24px;
  padding-top: 48px;
}





