body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0 ;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

a,
a:visited  {
  color: #000;
}
a:hover{
  color: #3183C8;
}
a.active {
  color: #3183C8;
  font-weight: 500;
}


/* OVERRIDES */
.container {
  max-width: none;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%;
  }
}

.column, .columns {
  padding: 20px;
}



/* SIDERBAR NAV */
.header{
  background-color: #F8F9FA;
}
  .columns .sidebar {
    padding: 20px;
    margin: -20px;
    position: relative;
    background-color: #F8F9FA;
  }
  @media (min-width: 550px) { /*Skeletons default grid-activation width*/
    .columns .sidebar{
      height: 100%;
      position: fixed;
      margin-left: -20px;
    }
  }

    .logo {
      font-family: 'Gilda Display', serif;
      font-size: 32px;
      margin-bottom: 40px;
    }

    .nav {
      font-family: 'Montserrat', sans-serif;
    }
      .nav ul {
        margin: 0;
        padding: 0;
      }
        .nav ul li {
          list-style: none;
          margin-bottom: 24px;
        }
          .nav ul li a {
            text-decoration: none;
            font-size: 18px;
            display: block;
          }
    .links {
      position: absolute;
      bottom: 8%;
      font-size: 12px;
      line-height: 20px;
    }
      .links a {
        /*text-decoration: none;*/
      }
      .links ul {
        margin: 0;
        padding: 0;
      }
        .links ul li {
          list-style: none;
          display: inline-block;
        }


.mad-lib {
  margin: 96px 0;
  padding: 16px 0;
}
.mad-lib:first-child {
  margin-top: 0;
}
  .mad-lib-title {
    font-size: 24px;
    font-weight: 500;
  }
  .mad-lib-formula {
    line-height: 52px;
    font-size: 20px;
  }
    .highlight {
      background-color: #F3F315;
      -ms-transform: rotate(-3deg); /* IE 9 */
      -webkit-transform: rotate(-3deg); /* Safari */
      transform: rotate(-3deg);
      position: relative;
      display: inline-block;
      height: 25px;
    }
      .under {
        line-height: 15px;
        border-top: 1px solid black;
        display: inline-block;
        font-size: 12px;
        top: 12px;
        position: relative;
        padding: 2px 10px;
        margin: 10px;
        font-style: italic;
        letter-spacing: 1px;
        -ms-transform: rotate(3deg); /* IE 9 */
        -webkit-transform: rotate(3deg); /* Safari */
        transform: rotate(3deg);
      }
  .mad-lib-example {

  }
    .example-title {
      font-weight: bold;
    }


  .mad-lib-description {
    line-height: 24px;
  }

    .description-title {
      font-weight: bold;
    }

  .mad-lib-resources {

  }
    .resource-title {
      font-weight: bold;
    }


.back-to-top {
  display: none;
}

@media screen and (max-width: 800px) {
  .links {
    position: relative;
    bottom: inherit;
  }
  .back-to-top {
    display: block;
  }
}






